! Colors
! --------------------------------------------------------------------
#define red     #fc7b66
#define green   #92c08f
#define yellow  #e2d28d
#define blue    #8f90c0
#define magenta #fcddd8
#define cyan    #8fc0c0
#define bg      #3c3956
#define fg      #eeeeee


! Urxvt settings
! --------------------------------------------------------------------
URxvt*scrollBar: false
URxvt.font:      xft:DejaVu Sans Mono:size=12


! Urxvt colors
! --------------------------------------------------------------------
! special
*.foreground:   fg
*.background:   bg
*.cursorColor:  #c7ccd1
URxvt*internalBorder: 10

! black
*.color0:       #1c2023
*.color8:       #747c84

! red
*.color1:       red
*.color9:       red

! green
*.color2:       green
*.color10:      green

! yellow
*.color3:       yellow
*.color11:      yellow

! blue
*.color4:       blue
*.color12:      blue

! magenta
*.color5:       magenta
*.color13:      magenta

! cyan
*.color6:       cyan
*.color14:      cyan

! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5


! Rofi Settings
! --------------------------------------------------------------------
rofi.color-enabled:   true
rofi.color-window:    bg, cyan
rofi.color-normal:    bg, fg, bg, cyan, bg
rofi.color-active:    bg, fg, bg, cyan, bg
rofi.color-urgent:    bg, fg, bg, red, bg
rofi.bw:              2
rofi.hide-scrollbar:  true
rofi.separator-style: none
rofi.lines:           4
rofi.padding:         30
